extends ../includes/layout

block content
  .col-lg-8
    // Featured blog post
    .card.mb-4
      a(href='#!')
        img.card-img-top(src='https://dummyimage.com/850x350/dee2e6/6c757d.jpg' alt='...')
      .card-body
        .small.text-muted January 1, 2021
        h2.card-title Featured Post Title
        p.card-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
        a.btn.btn-primary(href='#!') Leer más &rarr;
    // Nested row for non-featured blog posts
    .row

      -var n=1

      while n <= 6
        .col-lg-6
          // Blog post
          .card.mb-4
            a(href='#!')
              img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg' alt='...')
            .card-body
              .small.text-muted January 1, 2021
              h2.card-title.h4 Post Title #{n++}
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
              a.btn.btn-primary(href='#!') Leer más &rarr;

    // Pagination
    nav(aria-label='Pagination')
      hr.my-0
      ul.pagination.justify-content-center.my-4
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') Más nuevo
        li.page-item.active(aria-current='page')
          a.page-link(href='#!') 1
        li.page-item
          a.page-link(href='#!') 2
        li.page-item
          a.page-link(href='#!') 3
        li.page-item.disabled
          a.page-link(href='#!') ...
        li.page-item
          a.page-link(href='#!') 15
        li.page-item
          a.page-link(href='#!') Mas viejo
  